@model WineCatalog.Models.WineIndexVM

<div class="row">
    <div class="col-md-12">
        <h2>Wine catalog</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Color</th>
                    <th>Price</th>
                    <th>In stock</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="wine in model.Wines">
                    <td>{{wine.Name}}</td>
                    <td>{{wine.Color}}</td>
                    <td>{{wine.Price}}</td>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" disabled="disabled" ng-model="wine.InStock" />
                        </div>
                    </td>
                    <td><a href="@Url.Action("Delete", "Home")/?id={{wine.Id}}"><i class="fa fa-trash-o"></i></a></td>
                </tr>
                <tr ng-if="!model.Wines.length">
                    <td colspan="5" class="text-center">
                        There are no wines to display
                    </td>
                </tr>
                <tr ng-if="states.showWineForm">
                    <td>
                        <input type="text" class="form-control" placeholder="Name" ng-model="new.Wine.Name" />
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Colour" ng-model="new.Wine.Color" />
                    </td>
                    <td>
                        <input type="number" class="form-control" placeholder="Price" ng-model="new.Wine.Price" />
                    </td>
                    <td>
                        <div class="checkbox">
                            <input type="checkbox" ng-model="new.Wine.InStock" /> in stock
                        </div>
                    </td>
                    <td>
                        <button type="button" class="btn btn-primary" ng-click="addWine()">Add</button>
                        <button type="button" class="btn btn-default" ng-click="showWineForm(false)">Cancel</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <button class="btn btn-success" ng-click="showWineForm(true)" ng-if="!states.showWineForm">Add wine</button>
    </div>
</div>